//=================================================
// Header
//=================================================

.site-header {
  position: relative;
  background-color: $header_background_color;
  color: $header_color;

  .wrapper {
    padding-top: $header_padding_t;
    padding-bottom: $header_padding_b;

    // By default, large screens: padding-right: 0
    padding-right: 0;

    @media (max-width: 767.98px) {
      // On small screens, override padding-right
      padding-right: 1.27576rem !important;
    }
  }
}

$header_link_space: 3.895rem;
$header_actions_space: 7.158rem;

.site-header,
.modal-header {
  .header-content {
    min-height: 4.579rem;

    .header-left {
      flex: 1 1 0;
      @media #{$media_md} {
        display: none;
      }
      .links {
        .links-items {
          @extend .d-flex;
          @extend .align-items-center;

          .links-item {
            margin-right: $header_link_space;

            @media #{$media_xxl} {
              margin-right: $header_link_space / 2;
            }

            > * {
              text-align: left;
            }
          }
        }

        @media #{$media_md} {
          display: none !important;
        }
      }

      .search-toggle {
        display: none;

        @media #{$media_md} {
          display: block;
        }
      }
    }

    .header-center {
      .header-logo {
        margin-top: 1.105rem;
        padding-right: $wrapper_p_r;

        img {
          height: 100px;
          width: auto;
          display: block;
        }

        @media #{$media_xxl} {
          padding-right: $wrapper_p_r_xxl;
        }

        @media #{$media_xl} {
          padding-right: $wrapper_p_r_xl;
        }

        @media #{$media_md} {
          padding-right: 0;
          img {
            height: 60px; // smaller on mobile
          }
        }
      }
    }

    .header-right {
      flex: 1 1 0;

      .d-flex {
        > * {
          margin-right: $header_link_space;

          @media #{$media_xxl} {
            margin-right: $header_link_space / 2;
          }

          @media #{$media_md} {
            margin-right: 0;
          }
        }

        @media #{$media_md} {
          .search-toggle {
            display: none;
          }
        }

        .menu-toggle {
          margin-right: 1rem;
          .menu-close-toggle {
            > * {
              text-align: right;
            }
          }
        }
      }
    }

    .actions {
      @extend .d-flex;
      @extend .align-items-center;
      padding-left: 0;

      @media #{$media_xxl} {
        padding-left: 0;
      }

      @media #{$media_lg} {
        padding-left: 0;
      }

      @media #{$media_md} {
        display: none !important;
        // position: fixed;
        left: 0;
        bottom: 0;
        padding-left: 0;
        width: 100%;
        z-index: 1040;
      }

      .actions-items {
        height: 100%;
        margin-right: 0;

        @media #{$media_md} {
          width: 100%;
        }

        .actions-item {
          display: block;
          position: relative;
          background-color: $header_actions_background_color;
          color: $header_actions_color;
          width: 10rem;
          height: 100px;
          text-align: center;

          @media #{$media_md} {
            width: 100%;
            height: 2.895rem;
          }

          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: -$header_padding_t;
            width: 100%;
            background-color: $header_actions_background_color;
            height: $header_padding_t;
            @extend .transition-all;

            @media #{$media_md} {
              display: none;
            }
          }

          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -$header_padding_t;
            width: 100%;
            background-color: $header_actions_background_color;
            height: $header_padding_t;
            @extend .transition-all;

            @media #{$media_md} {
              display: none;
            }
          }

          &:hover {
            background-color: $header_actions_hover_background_color;
            color: $header_actions_hover_color;

            &:before,
            &:after {
              background-color: $header_actions_hover_background_color;
            }
          }

          > * {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            width: 100%;
            word-break: break-all;
            padding: $space_xs / 2;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-family: $font_primary_bold;
            font-weight: 700;
          }
        }
      }
    }
  }
}

.modal-open {
  .site-header,
  .modal-header {
    .header-content {
      .actions {
        @media #{$media_md} {
          display: none !important;
        }
      }
    }
  }
}

.padding-right {
  .header-content {
    .header-center {
      .header-logo {
        padding-right: 0;
      }
    }

    .header-right {
      .d-flex {
        > * {
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.header-absolute-true {
  header {
    &.site-header {
      background-color: $header_absolute_background_color;
      position: absolute;
      width: 100%;
      z-index: 1040;
      min-width: 320px;

      // Color
      color: $header_absolute_color;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      blockquote,
      pre,
      a,
      abbr,
      address,
      cit,
      code,
      del,
      dfn,
      em,
      ins,
      q,
      samp,
      small,
      strong,
      sub,
      sup,
      b,
      i,
      hr,
      dl,
      dt,
      dd,
      ol,
      ul,
      li,
      fieldset,
      legend,
      label,
      span,
      caption,
      figcaption,
      details,
      hgroup,
      summary,
      mark,
      audio,
      video {
        color: inherit;
      }

      .btn {
        color: inherit;

        &.btn-before-horbar {
          &:before {
            color: inherit;
          }
        }

        &.btn-after-horbar {
          &:after {
            color: inherit;
          }
        }
      }

      a,
      .btn {
        color: inherit;

        &.btn-link {
          @extend .transition-opacity;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

body {
  &:not([class*="page-header-absolute-and-no-title-and-content-full-width"]) {
    &.header-absolute-true {
      main {
        padding-top: 0;

        > .content {
          > .clearfix {
            padding-top: 8.421rem;

            > section:first-child,
            > div:first-child,
            > header:first-child,
            > footer:first-child,
            > main:first-child,
            > article:first-child,
            > aside:first-child,
            > nav:first-child {
              > section:first-child,
              > div:first-child,
              > header:first-child,
              > footer:first-child,
              > main:first-child,
              > article:first-child,
              > aside:first-child,
              > nav:first-child {
                padding-top: 8.421rem;
                margin-top: -8.421rem;
              }
            }
          }
        }
      }
    }
  }
}

[class*="page-header-absolute-and-no-title-and-content-full-width"] {
  &.header-absolute-true {
    main {
      padding-top: 0;

      > .content {
        > .clearfix {
          padding-top: 8.421rem;

          [class*="section-wrap"] {
            > section:first-child,
            > div:first-child,
            > header:first-child,
            > footer:first-child,
            > main:first-child,
            > article:first-child,
            > aside:first-child,
            > nav:first-child {
              padding-top: 8.421rem;
              margin-top: -8.421rem;
            }
          }
        }
      }
    }
  }
}
