//=================================================
// Loading
//=================================================

.loading {
    background-color: $body_background_color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.loading .logo img {
    width: 600px !important;
    height: auto;
    transition: width 0.3s ease;
  }
  
  @media (max-width: 767.98px) {
    .loading .logo img {
      width: 300px !important; /* smaller width on small screens */
    }
  }
  
.lazyload {
    &:not(.lazyloaded) {
        position: relative;
        background: url(../../img/loader/loader.svg) no-repeat center center;
        background-size: 3.158rem;
    }
}

.zoomin {
    @extend .zoomIn;
}

.fadeinleft {
    @extend .fadeInLeft;
}

.fadeinright {
    @extend .fadeInRight;
}
