//=================================================
// Logo
//=================================================

/*=============================
// Loading
=============================*/
.loading {
    .logo {
        img {
            width: 15rem;
        }
    }
}

/*=============================
// Header
=============================*/
.site-header, .modal-header {
    .logo {
        img {
            // width: 7.895rem;
        }
    }
}

