.language-dropdown-wrapper {
  display: inline-flex;
  align-items: center;
  // background-color: #fff;
  // padding: 6px 12px;
  border-radius: 8px;
  // border: 1px solid #444;
  color: var(--header_color);
  text-transform: uppercase;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: #777;
  }

  select.language-select {
    // background: transparent;
    color: var(--header_color);
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    cursor: pointer;


    option {
      color: #fff;
      font-size: 16px;
    }
  }
  select {
    padding: unset;
  }
}

.language-dropdown-wrapper {
  position: relative;

  &::after {
    content: "▼"; // or use a Unicode arrow or an SVG background
    color: var(--header_color);
    font-size: 10px;
    position: absolute;
    right: 12px;
    pointer-events: none;
  }

  select.language-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding-right: 25px;
  }
}
